/* src/styles/createStudy.module.css */

/* CreateStudyPage */
.studyPage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NavBar */
.fullWidthNav {
    width: 100%;
    align-self: stretch;
}


/* CreateStudyPage content container */
.studyPage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    max-width: 100%;
}

.studyPage-flexContent{
    display: flex;
}

.studyPage-left{
    flex: 1;
}
.studyPage-right{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.studyPage-content h1{
    font-size: 28px;
    color: #333;
    margin-top: 1.5rem;
}

.saveBtns{
    display: flex;
    flex-direction: column;
    gap: 1rem;   
}

.btnGroup{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.saveBtns button{
    padding: 1rem 1.5rem;
    margin-bottom: 0.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
}
.saveStudyBtn{
  background-color: #0d6efd;
  color: white;
}
.saveStudyBtn:hover{
    background-color: #51b861;
}

.previewBtn a:link{
    text-decoration: none;
    color: black;
    
}
.previewBtn{
    background-color: rgba(176, 192, 246, 0.692);
}

.saveStudy-para,
.previewStudy-para{
  margin-top: 0;
  color: #00000079;
}

.previewStudy-para{
  padding-bottom: 1rem;
}



