import navBar from "/Front-end/src/Components/NavBar.js"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new study</title>
</head>
<body>
    <!-- The nav bar-->
    <nav></nav>

    <!-- The main content-->
        <h1>Create a new study</h1>
        <p></p>

        <div>
            <label for="studyTitle">Study Title</label>
            <input type="text" name="studyTitle" placeholder="Shot descriptive title">

            <label for="studyDescription">Study Description</label>
            <input type="text" name="studyDescription" placeholder="Give a description of what the study will contain">
        </div>

        <div>
            <h2>Add Artifacts (Images, Video, Text, Audio)</h2>
            <select name="artifacts" id="artifactOption">
                <!--Add option with js-->
            </select>
            <input type="file" name="artifactFile">
            <p></p>
        </div>

        <div>
            <div></div>
        </div>
</body>
</html>