/* Artifact upload */
.uploadArtifact-container{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin: 1em 0 1rem 0;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 4px;
    
}

.uploadArtifact-container h2{
    font-size: 20px;
    margin-bottom: 1rem;
}

.uploadArtifact-container select,
.uploadArtifact-container input{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: solid 1px grey;
    border-radius: 4px;

}
.artifact-input,
.artifactBtn{
    cursor: pointer;
}

.artifactBtn{
    padding: 0.5rem 1rem;
}


.upload-status{
    color: #666;

}

.uploadedFiles-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 16px;
  scroll-behavior: smooth;
  padding: 10px 0;
  margin: 0;
}

.artifact-item{
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artifact-meta{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.artifact-meta{
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artifact-meta label{
  cursor: pointer;
}

.artifact-wrapper{
  position: relative;
  width: 150px;
  height: auto;
}

.removeArtifactIcon{
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
}