/* Artifact upload */
.uploadArtifact-container{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin: 1em 0 1rem 0;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 4px;
    
}

.uploadArtifact-container h2{
    font-size: 20px;
    margin-bottom: 1rem;
}

.uploadArtifact-container select,
.uploadArtifact-container input{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: solid 1px grey;
    border-radius: 4px;

}
.artifact-input,
.artifactBtn{
    cursor: pointer;
}

.artifactBtn{
    padding: 0.5rem 1rem;
}


.upload-status{
    color: #666;

}

.uploadedFiles-list{
  list-style: none;
}
