/* Question Builder  */
.questionBuilder-container{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;   
    display: grid;
    grid-template-columns: auto auto auto;
}

.questionBuilder-container label,
.questionBuilder-container input,
.questionBuilder-container select{
    margin:0.5rem 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
}
input,
select{
    padding: 0.2rem 0.5rem;
}

.questionBuilder-container label{
    font-weight: bold;
}

.addQuestion h3,
.rightSide-panel h3,
.middle-panel h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.addQuestion li{
    list-style: none;
    background-color: #6ef582;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.addQuestion button{
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #0d6efd;
    color: white;
    border: solid 1px grey;
    cursor: pointer;
}

.middle-panel,
.rightSide-panel,
.addQuestion{
    
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.middle-panel textarea{
    margin: 1rem;
}

.rightSide-panel{
 padding: 0.5rem;
}

.question-title{
    padding: 0.5rem;
}

.delete-questionBtn{
    background-color: white;

    color: red;
    border: solid 2px red;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}