/* Question Builder  */
.questionBuilder-container{
    background-color: #edf2f7;
    border: solid 1px grey;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;    
}

.addQuestion,
.uploadedFiles{
    border: solid 1px grey;
    padding: 0.5rem;
}
.addQuestion li{
    list-style: none;
    background-color: #6ef582;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.addQuestion button{
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #0d6efd;
    color: white;
    border: solid 1px grey;
    cursor: pointer;
}

.question-item{

}

.questionBuilder-container{
   display: flex;
}

.middle-panel textarea{
    margin: 1rem;
}

.rightSide-panel{
 border: solid 1px grey;
 padding: 0.5rem;
}

.delete-questionBtn{
    background-color: white;

    color: red;
    border: solid 2px red;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}